<a href="https://colab.research.google.com/github/jamshedulhaquesheikh00/Jamshed_Ul_Haque_Sheikh_April_codings_nights_0001/blob/main/01_expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Solution

In [ ]:
import random

NUM_SIDES = 8

def roll_dice():
    die1 = random.randint(1, NUM_SIDES)
    die2 = random.randint(1, NUM_SIDES)
    total = die1 + die2
    print("Total of two dice:", total)
    print()  # Add a blank line

def main():
    die1 = 8
    print("die1 in main() starts as:", die1)
    roll_dice()
    roll_dice()
    roll_dice()
    print("die1 in main() is:", die1)

if __name__ == '__main__':
    main()

die1 in main() starts as: 8
Total of two dice: 11

Total of two dice: 11

Total of two dice: 13

die1 in main() is: 8

# 01_dicesimulator.md

# Starter Code

In [ ]:
import random

def roll_dice():
  roll = random.randint(1, 6)
  return roll

print(roll_dice())

6

# 02_e=mc2.md

# Starter Code

In [ ]:
def calculate_energy(mass):
    # Speed of light (m/s)
    speed_of_light = 299792458
    energy = mass * (speed_of_light ** 2)
    return energy

# Example usage:
mass_in_kilograms = 10
energy = calculate_energy(mass_in_kilograms)
print(energy)

898755178736817640

# Solution

In [ ]:
C: int = 299792458  # The speed of light in m/s

def main():
    while True:
        try:
            mass_in_kg: float = float(input("Enter kilos of mass: "))
            break  # Exit loop if input is valid
        except ValueError:
            print("Invalid input. Please enter a number.")

    energy_in_joules: float = mass_in_kg * (C ** 2)

    print("e = m * C^2...")
    print(f"m = {mass_in_kg} kg")
    print(f"C = {C} m/s")
    print(f"{energy_in_joules} joules of energy!")

if __name__ == '__main__':
    main()

Enter kilos of mass: 100
e = m * C^2...
m = 100.0 kg
C = 299792458 m/s
8.987551787368176e+18 joules of energy!

# 03_feet_to_inches.md

# Starter Code

In [ ]:
def main():
  feet = float(input("Enter the number of feet: "))
  inches = feet * 12
  print(f"{feet} feet is equal to {inches} inches.")

  if _name_ == '_main_':
   main()

# Solution

In [ ]:
INCHES_IN_FOOT: int = 12

def main():
    feet: float = float(input("Enter number of feet:   "))
    inches: float = feet * INCHES_IN_FOOT
    print("That is", inches, "inches!")
    print()  # Add a blank line

if __name__ == '__main__':
    main()

Enter number of feet:   1
That is 12.0 inches!

# 04_pythagorean_theorem.md

# Starter Code

In [ ]:
def pythagorean_theorem(a, b):
  """
  This function calculates the hypotenuse of a right triangle given the lengths of the other two sides.
  """
  c_squared = a*2 + b*2
  c = c_squared**0.5
  return c

# Example usage:
side_a = 3
side_b = 4
hypotenuse = pythagorean_theorem(side_a, side_b)
print(hypotenuse)

3.7416573867739413

# Solution

In [ ]:
def pythagorean_theorem(a, b, c):
  """
  Checks if the Pythagorean theorem holds true for given side lengths.

  Args:
    a: Length of side a.
    b: Length of side b.
    c: Length of side c.

  Returns:
    True if a^2 + b^2 = c^2, False otherwise.
  """
  return a**2 + b**2 == c**2

# Example Usage:
print(pythagorean_theorem(3, 4, 5))  # Output: True
print(pythagorean_theorem(1, 2, 3))  # Output: False
print(pythagorean_theorem(5, 12, 13)) #Output: True

def find_hypotenuse(a,b):
    """
    Finds the hypotenuse given the other two sides.
    Args:
      a: length of side a.
      b: length of side b.
    Returns:
      The length of the hypotenuse.
    """
    return (a**2 + b**2)**0.5

print(find_hypotenuse(3,4)) #output: 5.0

def find_side(hypotenuse, side):
    """
    Finds the missing side of a right triangle.
    Args:
      hypotenuse: length of the hypotenuse.
      side: length of the other side.
    Returns:
      The length of the missing side.
    """
    return (hypotenuse**2 - side**2)**0.5

print(find_side(5,3)) #output 4.0
print(find_side(13,12)) #output 5.0

True
False
True
5.0
4.0
5.0

# 05_remainder_division.md

# Starter Code

In [ ]:
def remainder_division(dividend, divisor):
  """
  Calculates the remainder when dividend is divided by divisor.
  """
  quotient = dividend // divisor
  remainder = dividend % divisor
  return remainder

# Example usage:
num1 = 10
num2 = 3
result = remainder_division(num1, num2)
print(result)

1

# Solution

In [ ]:
def remainder_division(dividend, divisor):
  """
  Calculates the quotient and remainder of a division.

  Args:
    dividend: The number being divided.
    divisor: The number dividing the dividend.

  Returns:
    A tuple containing the quotient and remainder (quotient, remainder).
  """
  quotient = dividend // divisor
  remainder = dividend % divisor
  return (quotient, remainder)

# Example Usage:
print(remainder_division(10, 3))  # Output: (3, 1)
print(remainder_division(15, 5))  # Output: (3, 0)
print(remainder_division(22, 7)) # Output: (3, 1)
print(remainder_division(9, 2))  # Output: (4, 1)

(3, 1)
(3, 0)
(3, 1)
(4, 1)

# 06_rolldice.md

# Starter Code

In [ ]:
import random

def roll_dice(num_dice=2):
  """Simulates rolling a specified number of dice.

  Args:
    num_dice: The number of dice to roll (default is 2).

  Returns:
    A list containing the results of each dice roll.
  """
  rolls = []
  for _ in range(num_dice):
    rolls.append(random.randint(1, 6))
  return rolls

def main():
  """Main function to run the dice rolling simulation."""
  try:
    num_dice = int(input("Enter the number of dice to roll: "))
    if num_dice <= 0:
      print("Please enter a positive number of dice.")
      return

    results = roll_dice(num_dice)
    print(f"Results of rolling {num_dice} dice: {results}")
    print(f"Sum of the rolls: {sum(results)}")

  except ValueError:
    print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
  main()

Enter the number of dice to roll: 45
Results of rolling 45 dice: [2, 4, 6, 3, 2, 3, 5, 3, 3, 4, 2, 4, 1, 3, 2, 5, 6, 5, 5, 4, 2, 2, 2, 5, 5, 6, 3, 3, 3, 5, 5, 6, 3, 6, 6, 3, 1, 3, 2, 6, 4, 1, 4, 5, 5]
Sum of the rolls: 168

# Solution

In [ ]:
import random

def roll_dice(num_dice=2):
  """Simulates rolling a specified number of dice."""
  rolls = []
  for _ in range(num_dice):
    rolls.append(random.randint(1, 6))
  return rolls

def main():
  """Main function to run the dice rolling simulation."""
  try:
    num_dice = int(input("Enter the number of dice to roll: "))
    if num_dice <= 0:
      print("Please enter a positive number of dice.")
      return

    results = roll_dice(num_dice)
    print(f"Results of rolling {num_dice} dice: {results}")
    print(f"Sum of the rolls: {sum(results)}")

    # Check for special conditions
    if len(results) == 2 and results[0] == results[1]:
      print("You rolled doubles!")
    elif sum(results) == 7 or sum(results) == 11:
      print("You win!")
    elif sum(results) == 2 or sum(results) == 3 or sum(results) == 12:
      print("You lose!")

  except ValueError:
    print("Invalid input. Please enter a valid integer.")

if __name__ == "__main__":
  main()

Enter the number of dice to roll: 46
Results of rolling 46 dice: [5, 3, 4, 4, 5, 3, 4, 4, 1, 1, 2, 5, 6, 6, 2, 2, 4, 1, 4, 5, 4, 5, 6, 5, 1, 2, 6, 6, 5, 5, 1, 3, 2, 6, 4, 2, 4, 5, 1, 1, 3, 1, 1, 6, 6, 4]
Sum of the rolls: 166

# 06_seconds_in_year.md

# Starter Code

In [ ]:
def seconds_in_year(year):
  """Calculates the number of seconds in a given year.

  Args:
    year: An integer representing the year.

  Returns:
    The number of seconds in the given year.
  """
  if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    return 366 * 24 * 60 * 60
  else:
    return 365 * 24 * 60 * 60

# Example usage:
year_2024 = seconds_in_year(2024)
year_2025 = seconds_in_year(2025)

print(f"Seconds in 2024: {year_2024}")
print(f"Seconds in 2025: {year_2025}")

Seconds in 2024: 31622400
Seconds in 2025: 31536000

# Solution

In [ ]:
def seconds_in_year(year):
  """Calculates the number of seconds in a given year.

  Args:
    year: An integer representing the year.

  Returns:
    The number of seconds in the given year.
  """
  if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    return 366 * 24 * 60 * 60
  else:
    return 365 * 24 * 60 * 60

# Example usage:
year_2023 = seconds_in_year(2023)
year_2024 = seconds_in_year(2024)
year_1900 = seconds_in_year(1900)
year_2000 = seconds_in_year(2000)

print(f"Seconds in 2023: {year_2023}")
print(f"Seconds in 2024: {year_2024}")
print(f"Seconds in 1900: {year_1900}")
print(f"Seconds in 2000: {year_2000}")

Seconds in 2023: 31536000
Seconds in 2024: 31622400
Seconds in 1900: 31536000
Seconds in 2000: 31622400

# 07_tiny_mad_lib.md

# Starter Code

In [ ]:
def tiny_mad_lib(adj, noun):
  """Generates a short mad lib sentence.

  Args:
    adj: An adjective.
    noun: A noun.

  Returns:
    A string representing the generated mad lib.
  """
  return f"The {adj} {noun} jumped over the lazy dog."

# Example usage:
result = tiny_mad_lib("happy", "cat")
print(result)

The happy cat jumped over the lazy dog.

# Solution

In [ ]:
def tiny_mad_lib(adj, noun):
  """Generates a short mad lib sentence.

  Args:
    adj: An adjective.
    noun: A noun.

  Returns:
    A string representing the generated mad lib.
  """
  return f"The {adj} {noun} jumped over the lazy dog."

# Example usage:
result1 = tiny_mad_lib("silly", "rabbit")
result2 = tiny_mad_lib("giant", "hamster")
result3 = tiny_mad_lib("tiny", "elephant")

print(result1)
print(result2)
print(result3)

The silly rabbit jumped over the lazy dog.
The giant hamster jumped over the lazy dog.
The tiny elephant jumped over the lazy dog.